:root,
.light,
.light-theme {
    --blue-1: #fbfbfb;
    --blue-2: #f5f7ff;
    --blue-3: #e7ebfe;
    --blue-4: #d6deff;
    --blue-5: #c2cdff;
    --blue-6: #abbafc;
    --blue-7: #8ea1f6;
    --blue-8: #5d77ef;
    --blue-9: #012fff;
    --blue-10: #092cce;
    --blue-11: #13267c;
    --blue-12: #0b1647;
}
