.dark,
.dark-theme {
    --blue-1: #08102e;
    --blue-2: #16235b;
    --blue-3: #23399c;
    --blue-4: #3550c4;
    --blue-5: #546cd6;
    --blue-6: #8ea1f6;
    --blue-7: #abbafc;
    --blue-8: #b4c0f7;
    --blue-9: #c7d1fa;
    --blue-10: #d6dbf7;
    --blue-11: #e9edfc;
    --blue-12: #fbfbfd;
}
